header {
    background-color: #458B73;
    padding: 20px;
    display: flex;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo {
    width: 60px;
    height: auto;
    float: left;
    padding-right: 20px;
}

h1 {
    color: white;
    margin: 0;
    font-weight: 800;
    font-size: 36px;
    padding-top: 10px;

}

.form-container p {
    text-align: center;
    padding-bottom: 20px;
}

body {
    background-color: #FFF9F5;
    font-family: "SN Pro", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
}

h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

form {
    display: flex;
}

.form-container {
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
}

.container {
    margin: 0px auto;
    max-width: 600px;
    padding: 40px 20px;
}

.instructions {
    padding: 12px 16px;
    border: 1px solid #FFD150;
    width: 70%;
    font-size: 16px;
    border-radius: 25px;
    line-height: 20px;
    font-weight: bold;
}

.instructions:focus {
    outline: none;
    border-color: #FF9760;
}

.button {
    background-color: #F26076;
    color: white;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    padding: 12px 22px;
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;

}

.button:hover {
    background-color: #FF9760;

}

h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

.hint {
    font-size: 12px;
    color: grey;
    padding-left: 10px;
    opacity: 0.6;
}
.answer-container {
    font-size: 14px;
    background-color: #FFD150;
    padding: 20px;
    line-height: 24px;
    font-weight: 700;
    border-left: 3px solid #F26076;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-top: 20px;

}

.book-idea {
    font-weight: 300;
    font-size: 20px;
}

footer {
   text-align: center;
   padding: 20px;
}

footer a {
    color: #F26076;
}

.hidden {
    display: none;
}